# Django and Django Rest Framework
django==*
django-environ==*
pillow==*
drf-yasg==*
whitenoise==*
gunicorn==*
django-cors-headers==*
djangorestframework-simplejwt==*
djoser==*
dj-database-url==*
psycopg2-binary==*
environ==*
channels==*
django-phone-field==*
drf-writable-nested==*
daphne==*
djangorestframework==*
pytest==*
pytest-django==*
dj-rest-auth==*
drf-extra-fields==*
django-filter==*
pypdf==*
drf-nested-routers==*
django-cloudinary-storage==*

# Development Packages

# Python Version
python_version==3.11

# Redis Channel Dependencies
annotated-types==*
asgiref==*
asn1crypto==*
attrs==*
autobahn==*
Automat==*
cbor2==*
certifi==*
cffi==*
channels-redis==*
charset-normalizer==*
constantly==*
cryptography==*
daphne==*
defusedxml==*
dj-database-url==*
dj-rest-auth==*
Django==*
django-cloudinary-storage==*
django-cors-headers==*
django-environ==*
django-extensions==*
django-filter==*
django-ipware==*
django-phone-field==*
django-templated-mail==*
djangorestframework==*
djangorestframework-simplejwt==*
djoser==*
drf-extra-fields==*
drf-nested-routers==*
drf-writable-nested==*
drf-yasg==*
environ==*
future==*
gunicorn==*
huey==*
hyperlink==*
idna==*
incremental==*
inflection==*
msgpack==*
oauthlib==*
packaging==*
Pillow==*
psycopg2-binary==*
pyasn1==*
pyasn1-modules==*
pycparser==*
pydantic==*
pydantic-core==*
PyJWT==*
pyOpenSSL==*
pypdf==*
pytest==*
python-decouple==*
python3-openid==*
pytz==*
PyYAML==*
redis==*
requests==*
requests-oauthlib==*
service-identity==*
six==*
social-auth-app-django==*
social-auth-core==*
sqlparse==*
Twisted==*
txaio==*
typing-extensions==*
tzdata==*
uritemplate==*
urllib3==*
webauthn==*
whitenoise==*
zope.interface==*
